<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="fragment" content="!">
    <meta name="description" content="MEAN app for the Artoo Campus">
    <meta name="author" content="ArtooCampus">
    <meta name="application-name" content="Services">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Services</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">
    <div class="container">
        <div ng-controller="ItemsCtrl">
            <h3>Get Item: </h3>
            <input class="form-control" type="text" ng-model="nome">

            <div ng-show="armaTrovata">
              <h2>{{armaTrovata.nome}}</h2>
              <p>{{armaTrovata.descrizione}}</p>
              Slots: <span>{{armaTrovata.slots}}</span>
              <img class="img-responsive" style="max-width:10%;margin:20px auto" ng-src="{{armaTrovata.image}}" />
            </div>

            <div>
                <button class="btn btn-primary" ng-click="addArma()">Add new Item</button>
                <div ng-hide="armaTrovata">
                  <div class="text-center">
                      <h1>Lista Armi</h1>
                  </div>
                  <div class="item" ng-repeat="arma in listaArmi track by $index">
                      <h2>{{arma.nome}}</h2>
                      <p>{{arma.descrizione}}</p>
                      Slots: <span>{{arma.slots}}</span>
                      <img class="img-responsive" style="max-width:10%;margin:20px auto" ng-src="{{arma.image}}" />
                      <button class="btn btn-danger" ng-click="eliminaArma($index)">Rimuovi</button>
                      <hr>
                  </div>
                </div>
            </div>
        </div>
        
        <script src="node_modules/angular/angular.min.js "></script>
        <script src="app.js "></script>
        <!-- include items service -->
        <script src="items.controller.js "></script>
        <script src="items.service.js"></script>
    </div>
</body>

</html>
